.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
    background: #7969e6;
    height: 1500px;
}

.Quiz h1 {
    color: white;
    margin-left: 10px;
}

.QuizWrapper {
    width: 600px;
}